<div class="container">
<footer class="foot">
    <div class="footer_div">
        <div class="footer_each">
            <h4>客户服务</h4>
            <a href="/cn/inquire">问询</a>
        </div>
         <div class="footer_each">
            <h4>通知</h4>
            <a href="/cn/news">新闻</a>
            <br>
            <a href="/cn/event">事件</a>
        </div>
         <div class="footer_each">
            <h4>商店</h4>
            <a href="/cn/withcutterbuck">合作咨询</a>
            <br>
            <a href="/cn/international">国际的 C&B</a>
        </div>
         <div class="footer_each" style="padding-top:50px;">
             <a href="/cn/contactus">联系</a>
        </div>
    </div>
        <div class="footer_down">
            <h4>未经许可的词典的书面同意,不能以商业目的、CUTTER&BUCK的信息、内容、UI等无端使用。<br>
                        Copyright © 2016 CutterandBuck Inc. All rights reserved.</h4>
        </div>
</footer>
</div>