 <div>
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="position:fixed;border-bottom:1px solid #c0c0c0;">
        <div class="container">
            <div class="navbar_logo" id="oou_logo_nav">
                <a href="/home/index"><img style="width:60px; margin-top:-5px;"src="http://www.cutterbuck.com/skin/frontend/enterprise/cutterbuck/images/logo.png"></a>
            </div>

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                    <button style="height:40px; float:right; position:relative;" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <!--<span class="icon-bar"><a href="/home/mainpage2"><img src="/assets/oou_nav500.png"></a></span>-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse addbtn" style="text-align:center;">
                <div class="navbar_menu">
                    <ul class="nav navbar-nav">
                        <li id="navlileft">
                            <a href="/cn/company">公司</a>
                        </li>
                        <li id="navlicenter">
                            <a href="/cn/brand">品牌</a>
                        </li>
                        <li id="navlicenter">
                            <a href="/cn/catalog">商品目录</a>
                        </li>
                        <li id="navlicenter">
                            <a href="/cn/store">卖场</a>
                        </li>
                        <% if user_signed_in? %>
                        <% if current_user.email == "admin@naver.com"%>
                        <li id="navlicenter">
                            <a href="/home/admin">관리자페이지</a>
                        </li>
                        <li id="navlicenter">
                            <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %>
                        </li>
                        
                        <%end%>
                        <%end%>
                    </ul>
                    <span class="lang">
                    <a href="/cn/index">中文</a>
                    <a href="/home/index">Korean</a>
                    </span>
                </div>
            </div>
            <!--mobile nav-->
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav oneofnav">
                    <li><a href="/cn/company">公司</a></li>
                    <hr style="width:340px; padding:0px; margin:0px auto;">
                    <li><a href="/cn/brand">品牌</a></li>
                    <hr style="width:340px; padding:0px; margin:0px auto;">
                    <li><a href="/cn/catalog">商品目录</a></li>
                    <hr style="width:340px; padding:0px; margin:0px auto;">
                    <li><a href="/cn/store">卖场</a></li>
                    <hr style="width:340px; padding:0px; margin:0px auto;">
                    <li><a href="/home/index">한국어</a></li>
                    <hr style="width:340px; padding:0px; margin:0px auto;">
                 </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
        
    </nav>

</div><script>
     $(function () {
        var isAdded = false;
        $(window).resize(function () {
            if (!isAdded && $(window).width() >= 421) {
                 isAdded = true;
            } else if (isAdded && $(window).width() < 420) {
                isAdded = false;
                $('.mob_no').remove();
            }
        });
    });
</script>
 <script>
                var width = $(window).width();
                $(window).resize(function(){
                   if ($(window).width() >= 769) {
                          $('#oou_logo_nav').show();
                          $('#mob_search').hide();
                        };
                });
                $('#mob-sear-btn').click(function() {
                  $('#mob_search').toggle('fast', function() {

                   $('#mob_search').animate({left:'200px'});

                  });
                  $('#mob_search').css('display', 'inline');
                  $('#oou_logo_nav').toggle('fast');
                });

</script>