<video class="video" autoplay loop src="https://s3.ap-northeast-2.amazonaws.com/cutterbuck/uploads/84dcc325cf018f486d36632de5670a86.mp4"></video>
<div class="container-fluid">
    <div class="mainpage_title" style="text-align:center;"><h2 style="font-size:50px">CUTTER AND BUCK</h2></div>
    <div class="brand1">
        <div class="brand1_left">
            <h3>CUTTER AND BUCK</h3>
            <br>
            <p>CUTTER & BUCK 是北太平洋沿岸西北地区的现代化感觉</p>
            <p>通过尖端技术的尖端高尔夫精神体现了北太平洋魅力和创意</p>
            <p>一位为一位感动客人的感人至深的瞬间.</p>
            <p>不停地跑来跑去</p>
        </div>
        <div class="brand1_right">
            <img src="/assets/his_visual1.jpg">
        </div>
    </div>
    <div class="brand2">
        <div class="brand2_left">
        <img src="/assets/his_img4.jpg">
        </div>
        <div class="brand2_right">
         <h4>"太平洋沿岸西北地区持续性和持久性</h4>
         <h4>这里可以感受到文化节文化的香味。</h4>
         <h4>通过这种方式,我们通过长期的眼光来开发产品</h4>
         <h4>正在营造与顾客沟通的文化"</h4>
        </div>
    </div>
    <div class="brand1">
        <div class="brand1_left">
            <h3>HISTORY</h3>
            <br>
            <p>CUTTER & BUCK 在华盛顿州西雅图设立</p>
            <p>并通过‘高级体育’的固有的匠人精神</p>
            <p>发展品质和设计。</p>
        </div>
        <div class="brand1_right">
            <img src="/assets/his_img11.jpg">
        </div>
    </div>
</div>