<video class="video" autoplay loop src="https://s3.ap-northeast-2.amazonaws.com/cutterbuck/uploads/84dcc325cf018f486d36632de5670a86.mp4"></video>
<div class="container-fluid">
    <div class="mainpage_title" style="text-align:center;"><h2 style="font-size:50px">CUTTER AND BUCK</h2></div>
    <div class="brand1">
        <div class="brand1_left">
            <h3>卡特巴克</h3>
            <br>
            <p>卡特巴克是北太平洋海岸北西部的现代感觉贯彻尖端高尔夫精神，</p>
            <p>北太平洋的魅力和想法,</p>
            <p>为了感动每一位瞬间无间断奔过来了。</p>
        </div>
        <div class="brand1_right">
            <img src="/assets/his_visual1.jpg">
        </div>
    </div>
    <div class="brand2">
        <div class="brand2_left">
        <img src="/assets/his_img4.jpg">
        </div>
        <div class="brand2_right">
         <h4>"太平洋海岸北西部是能感受持续性和永远性文化兴趣的地方，</h4>
         <h4>性和永远性文化兴趣的地方，</h4>
         <h4>通过此事我们正创造长期开发产品与顾客沟通。"</h4>
        </div>
    </div>
    <div class="brand1">
        <div class="brand1_left">
            <h3>故事</h3>
            <br>
            <p>卡特巴克是华盛顿州西雅图创立，</p>
            <p>优质运动服装是卡特巴克固有的匠人精神，</p>
            <p>通过品质和设计发展过来的。</p>
        </div>
        <div class="brand1_right">
            <img src="/assets/his_img11.jpg">
        </div>
    </div>
</div>