<div class="store_big_pic">
        <img src="/assets/Sh.jpg">
        <div class="store_big_pic_p" style="background-color:rgba(0,0,0,0);"><h4 style="font-size:50px;">Shanghai LEWA Trading Co.Ltd</h4></div>
    </div>
<div class="container">
<div class="main_div2_con" style="margin-top:70px;">
    <div class="content_title"><h2>PROFILE<small> PREMIUM & BEST</small></h2></div>
    <div class="com_content_img">
        <h4>上海乐娃贸易公司是2008年成立的。</h4>
        <h4>2017年1月发行了美国高尔夫品牌卡特巴克。</h4>
    </div>
    <div class="com_content_text">
        <img src="/assets/companycn.jpg">
    </div>
</div>
<div class="main_div3_con">
    <div class="content_title"><h2>CEO GREETING<small> Won Jihyun</small></h2></div>
    <div class="com_content_img">
        <h4>上海乐娃贸易</h4>
        <p style="margin-top:30px;">卡特巴克是美国的高尔夫品牌， 与韩国P&B internatinal公司及中国相互签订了销售许可合同。</p>
        <p>乐娃贸易公司与P&B internatinal公司签订了中国市场产品销售权及开始了市场营销。</p>
        <p>中国市场乐娃贸易会卡特巴克产品广泛宣传而努力的。</p>
        <p>谦卑设计，品质和亲切的信誉，每天都在发展的中国与各位一起前进打拼到底。</p>
        <p>谢谢</p>
    </div>
</div>
</div>
