<div class="store_big_pic">
        <img src="/assets/Sh.jpg">
        <div class="store_big_pic_p" style="background-color:rgba(0,0,0,0);"><h4 style="font-size:50px;">Shanghai LEWA Trading Co.Ltd</h4></div>
    </div>
<div class="container">
<div class="main_div2_con" style="margin-top:70px;">
    <div class="content_title"><h2>PROFILE<small> PREMIUM & BEST</small></h2></div>
    <div class="com_content_img">
        <h4>Shanghai LEWA Trading Co.Ltd는 2008년에 설립되었습니다.</h4>
        <h4>2017년 1월 미국 골프웨어 브랜드 CUTTER&BUCK을 런칭하였습니다.</h4>
    </div>
    <div class="com_content_text">
        <img src="/assets/company.JPG">
    </div>
</div>
<div class="main_div3_con">
    <div class="content_title"><h2>CEO GREETING<small> Won Jihyun</small></h2></div>
    <div class="com_content_img">
        <h4>Shanghai LeWa Trading</h4>
        <p style="margin-top:30px;">Cutter & Buck은 미국 골프 브랜드로서 한국의 P&B internatinal과 한국, 중국 간 라이센스 계약을 하여 제작 판매 하고 있습니다.</p>
        <p>저희 러와 무역은 P&B internatinal과 중국 시장에 상품 판매 계약을 하여 유통 사업을 시작하였습니다.</p>
        <p>이제 중국이라는 거대한 시장에 Cutter & Buck의 멋진 상품들을 알리는 것에 앞장서는 러와 무역이 되도록 노력하겠습니다.</p>
        <p>디자인, 품질을 겸비하여 친절과 신용으로 나날이 발전하는 중국에서 여러분들과 함께 나아가는 것에 최선을 다할 것을 약속드립니다.</p>
        <p>감사합니다.</p>
    </div>
</div>
</div>
