<div class="container">
   <div class="cata_title">
        <h2>CONTACT US</h2>
    </div>
    <div class="contact_div">
        <h3>一个承诺的优异表现是我们的驾驶</h3>
        <p>我们要你爱一个卡特和巴克的顾客。我们的风格,是在市场和客户期望的质量。我们努力达到这些期望所提供的产品加上卓越的服务。</p>
        <br>
        <p>联系客户服务,叫1.800.713.7810在上午10点,下午4点30分。中國, 星期一-星期五. 你也可以通过电子邮件在我们到达help@cutterbuck.com.</p>
    </div>
    <div class="contact_div">
        <h4>SLW LEWA Trading Company</h4>
        <p>Room 402, 1Building, No.1217, Wuzhong Road, Minhang Dist, Shanghai China</p>
        <h4>Customer Service</h4>
        <p>Phone1 : 021-5422-1591</p>
        <p>Phone2 : 070-8796-7421</p>
        <p>Email : shlewa88@163.com</p>
    </div>
   
    <div class="contact_div">
        <h3 style="text-align:right;">CEO Won Jihyun</h3>
    </div>
</div>