<div class="store_big_pic">
        <img src="/assets/1.jpg">
        <div class="store_big_pic_p"><h4>在位于中国上海的 CUTTER & BUCK 卖场,请体验一下亲切的服务和卓越品质
</h4></div>
    </div>
<div class="container">
    <div class="cata_title">
        <h2>STORE</h2>
    </div>
   <div class="cata_title">
        <h3>STORE LIST</h3s>
    </div>
    <div class="store_list">
        <% @store.each do |s| %>
        <div class="store_each">
            <h5><%= s.name %></h5>
            <p><%= s.address %></p>
            <p><%= s.phone %></p>
            <br>
            <a href="/home/store_detail/<%= s.id %>">상세사항</a>
        </div>
        <% end %> 
    </div>
</div>