<div class="container">
    <div class="cata_title">
        <h2 style="font-size:30px; font-weight:600;">卡特巴克代理店及订货介绍</h2>
    </div>
    <div class="with_title" style="margin-top:50px;">
        <h3>开展营销计划</h3>
    </div>
    <div class="with_content">
        <ul>
            <li>卡特巴克卖场从2016年秋冬开展市场。</li>
            <li>卖场按照地区洽谈后开展营销及代理店（委托）方法按地区展开。</li>
            <li>长期开展营销网是通过订货会，代理店保持各地区均衡销售额。</li>
            <li>通过地区安排的开设店铺及确保好店铺取齐，确保销售能力强的店主为主力。</li>
            <li>通过各地区持续的销售额增加，努力增加利润管理。</li>
        </ul>
    </div>
    <div class="with_title">
        <h3>营销开展方向</h3>
    </div>
    <div class="with_content">
        <ul>
           <li>短期内驱逐B1:初期~3年内主打广告及促销。</li>
           <li>卡特巴克刚进入市场初期强化大客户认知度</li>
           <li>支援影视剧，高尔夫频道LPGA,CLPGA字目广告等主力各TV媒体播放。</li>
           <li>通过地区高尔夫会员展开营销策略</li>
           <li>效率性为主强化共同营销/与顾客直接接触确保品牌专利。</li>
           <li>按地区订货店主及代理店主之间积极响应活动</li>
        </ul>
    </div>
    <div class="with_title">
        <h3>开展营销计划</h3>
    </div>
    <div class="with_content">
        <table class="table_with">
         <thead>
         <tr class="table_head_row_with">
         <th class="table_head_num_with">区分</th>
         <th class="table_head_title_with">细节内容</th>
         </tr>
         </thead>
         <tbody>
              <tr class="table_con_row_with">
              <td class="">传播广告</td>
              <td class="table_list">
                  <ul>
                      <li>空中传播电视是影视剧，技能程序广告为主</li>
                      <li>高尔夫专门CABLE TV,DMB广告</li>
                      <li>明星营销策略（电视，电影，PPL）</li>
                  </ul>
              </td>
              </tr>
              <tr class="table_con_row_with">
              <td class="">报纸，杂志广告</td>
              <td class="table_list">
                  <ul>
                      <li>通过服装杂志广告及会谈提高认知度</li>
                      <li>高尔夫，休闲，旅行，生活，文化等分类广告。</li>
                  </ul>
              </td>
              </tr>
               <tr class="table_con_row_with">
              <td class="">户外广告</td>
              <td class="table_list">
                  <ul>
                      <li>高尔夫场入口及高尔夫赛道揭示牌广告</li>
                      <li>与休闲，文化衔接的绿色营销</li>
                  </ul>
              </td>
              </tr>
               <tr class="table_con_row_with">
              <td class="">其他</td>
              <td class="table_list">
                  <ul>
                      <li>开发专业高尔夫选手提高品牌形象</li>
                      <li>赞助艺人提高品牌认知度</li>
                      <li>按地区，代理店自己赞助高尔夫大会及开设</li>
                  </ul>
              </td>
              </tr>
              <tr class="table_con_row_with">
              <td class="">印刷物，活动</td>
              <td class="table_list">
                  <ul>
                      <li>有差别的展览及制作公司宣传册</li>
                      <li>网上宣传（双向链锁广告，网站）</li>
                      <li>促销产品及赠品开发及制作（年3-4回进行活动）</li>
                  </ul>
              </td>
              </tr>
         </tbody>
     </table>
    </div>
     <div class="with_title">
        <h3>开代理店顺序</h3>
    </div>
    <div class="with_content">
        <img src="https://s3.ap-northeast-2.amazonaws.com/cutterbuck/uploads/slide2.JPG">
    </div>
    <div class="with_title" style="margin-top:50px;">
        <h3>经销商顺序</h3>
    </div>
    <div class="with_content">
        <img src="https://s3.ap-northeast-2.amazonaws.com/cutterbuck/uploads/slide4.JPG">
    </div>
    <div class="with_title">
        <h3>代理点及经销商条件</h3>
    </div>
     <div class="with_content">
        <table class="table_with">
         <thead>
         <tr class="table_head_row_with">
         <th class="table_head_num_with">区分</th>
         <th class="table_head_title_with">条件</th>
         </tr>
         </thead>
         <tbody>
              <tr class="table_con_row_with">
              <td class="">店铺位置</td>
              <td class="table_list">
                  <ul>
                      <li>地区商圈中心，百货店，购物广场等 </li>
                  </ul>
              </td>
              </tr>
              <tr class="table_con_row_with">
              <td class="">店铺面积</td>
              <td class="table_list">
                  <ul>
                      <li>实际面积83平米以上（25平） </li>
                  </ul>
              </td>
              </tr>
              <tr class="table_con_row_with">
              <td class="">买卖形式</td>
              <td class="table_list">
                  <ul>
                      <li>经销商：购买（包括退货） </li>
                      <li>代理店：委托销售 </li>
                  </ul>
              </td>
              </tr>
               <tr class="table_con_row_with">
              <td class="">店铺条件</td>
              <td class="table_list">
                  <ul>
                      <li>保证金洽谈后决定</li>
                  </ul>
              </td>
              </tr>
               <tr class="table_con_row_with">
              <td class="">结算方法</td>
              <td class="table_list">
                  <ul>
                      <li>经销商：合同时30%，出货时70% </li>
                      <li>代理店：月结算2次 </li>
                  </ul>
              </td>
              </tr>
               <tr class="table_con_row_with">
              <td class="">店铺装修</td>
              <td class="table_list">
                  <ul>
                      <li>洽谈后决定 </li>
                  </ul>
              </td>
              </tr>
               <tr class="table_con_row_with">
              <td class="">联系方式</td>
              <td class="table_list">
                  <ul>
                      <li>代表电话 :  </li>
                      <li>董事长元智贤 : 135-1212-4157 (china)</li>
                        <li>Phone1 : 021-5422-1591</li>
                        <li>Phone2 : 070-8796-7421</li>
                        <li>Email : shlewa88@163.com</li>
                  </ul>
              </td>
              </tr>
         </tbody>
     </table>
    </div>
</div>