<div class="container">
<footer class="foot">
    <div class="footer_div">
        <div class="footer_each">
            <h4>Customer Service</h4>
            <a href="/home/inquire">INQUIRY</a>
        </div>
         <div class="footer_each">
            <h4>Notice</h4>
            <a href="/home/news">News</a>
            <br>
            <a href="/home/event">Event</a>
        </div>
         <div class="footer_each">
            <h4>Store</h4>
            <a href="/home/withcutterbuck">With Cutter&Buck</a>
            <br>
            <a href="/home/international">International C&B</a>
        </div>
         <div class="footer_each" style="padding-top:50px;">
             <a href="/home/contactus">Contact Us</a>
        </div>
    </div>
        <div class="footer_down">
            <h4>  (주) 커터앤벅의 사전 서면 동의 없이 커터앤벅 사이트의 일체의 정보, 콘텐츠 및 UI 등을 상업적 목적으로 전재, 전송, 스크래핑 등 무단 사용할 수 없습니다.<br>
                        Copyright © 2016 CutterandBuck Inc. All rights reserved.</h4>
        </div>
</footer>
</div>