<di class="container">
<div class="cata_title">
        <h2>관리자 페이지</h2>
</div>
<div class="admin"> 
    <ul class="admin_menu">
       <li><a href="/home/admin_mainpage">메인페이지 관리</a></li>
       <li><a href="/home/admin_catalog">카달로그 관리</a></li>
       <li><a href="/home/admin_store">스토어 관리</a></li>
       <li><a href="/home/admin_news">뉴스 관리</a></li> 
       <li><a href="/home/admin_event">이벤트 관리</a></li> 
       <li><a href="/home/admin_inquire">문의사항 관리</a></li> 
    </ul>
</div>
</div>