<video class="video" autoplay loop src="https://s3.ap-northeast-2.amazonaws.com/cutterbuck/uploads/84dcc325cf018f486d36632de5670a86.mp4"></video>
<div class="container-fluid">
    <div class="mainpage_title" style="text-align:center;"><h2 style="font-size:50px">CUTTER AND BUCK</h2></div>
    <div class="brand1">
        <div class="brand1_left">
            <h3>CUTTER AND BUCK</h3>
            <br>
            <p>커터엔벅은 북태평양 연안 북서부의 현대적인 감각을</p>
            <p>첨단 골프 정신으로 구현하여 북태평양의 매력과 아이디어로</p>
            <p>고객 한분 한분의 감동의 순간을 위해</p>
            <p>쉼 없이 달려왔습니다</p>
        </div>
        <div class="brand1_right">
            <img src="/assets/his_visual1.jpg">
        </div>
    </div>
    <div class="brand2">
        <div class="brand2_left">
        <img src="/assets/his_img4.jpg">
        </div>
        <div class="brand2_right">
         <h4>"태평양 연안 북서부는 지속성과 영원성에 대한</h4>
         <h4>문화적 향취를 느낄 수 있는 곳 입니다.</h4>
         <h4>이를 통해 우리는 장기적인 안목으로 제품을 개발하고</h4>
         <h4>고객과 소통하는 문화를 만들어가고 있습니다."</h4>
        </div>
    </div>
    <div class="brand1">
        <div class="brand1_left">
            <h3>HISTORY</h3>
            <br>
            <p>커터엔벅은 워싱턴주 시애틀에서 설립되어</p>
            <p>프리미엄 스포츠 웨어를 커터앤벅만의</p>
            <p>고유한 장인정신을 통해 품질과 디자인을</p>
            <p>발전시켜왔습니다.</p>
        </div>
        <div class="brand1_right">
            <img src="/assets/his_img11.jpg">
        </div>
    </div>
</div>