<div class="container">
   <div class="cata_title">
        <h2>CONTACT US</h2>
    </div>
    <div class="contact_div">
        <h3>A Commitment to Excellence is Our Driving Force</h3>
        <p>We want you to love being a Cutter & Buck customer. Our customers expect a level of quality, craftsmanship, and style that's superior in the marketplace, and we strive to exceed these expectations by offering exceptional products coupled with exceptional service.</p>
        <br>
        <p>To contact Customer Service, call 1.800.713.7810 between 6am and 4:30pm china, Monday–Friday. You can also reach us via email at help@cutterbuck.com.</p>
    </div>
    <div class="contact_div">
        <h4>SLW LEWA Trading Company</h4>
        <p>Room 402, 1Building, No.1217, Wuzhong Road, Minhang Dist, Shanghai China</p>
        <h4>Customer Service</h4>
        <p>Phone1 : 021-5422-1591</p>
        <p>Phone2 : 070-8796-7421</p>
        <p>Email : shlewa88@163.com</p>
    </div>
   
    <div class="contact_div">
        <h3 style="text-align:right;">CEO Won Jihyun</h3>
    </div>
</div>