<div class="container">
    <div class="cata_title">
        <h2>INQUIRY</h2>
    </div>
    <div class="inquire_div">
      <form action= "/home/qna_upload" method= "POST"  enctype="multipart/form-data" accept-charset="UTF-8" style="position:relative;">
           <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="inquire_name">
            <input type="text" placeholder="이름을 입력해주세요" style="padding-left:10px;" class="inquire_name" name="inquire_name">
        </div>
        <div class="inquire_name">
            <input type="text" placeholder="상담받으실 전화번호를 입력해주세요"  style="padding-left:10px;" class="inquire_name" name="inquire_phone">
        </div>
         <div class="inquire_name">
            <input type="text" placeholder="이메일 주소를 입력해주세요" style="padding-left:10px;" class="inquire_name" name="inquire_email">
        </div>
         <div class="inquire_name">
            <input type="file" placeholder="사진을 업로드 해주세요"  style="padding-left:10px;" class="inquire_file" name="inquire_pic">
        </div>
        <div class="inquire_name">
            <input type="text" placeholder="제목을 입력해주세요" style="padding-left:10px;" class="inquire_name" name="inquire_title">
        </div>
        <div class="inquire_content">
            <textarea rows="10" placeholder="내용을 입력해주세요" style="padding-left:10px;" class="inquire_content" name="inquire_content"></textarea>
        </div>
                <button type="submit" class="btn btn-success" style="margin-left:auto; margin-right:auto; margin-top:30px; float:right; position:relative; background-color:#c0c0c0; border-color:#c0c0c0;">문의하기</button>
        </form>
    </div>
</div>