<div class="container" style="height:800px;">
    <div class="cata_title">
        <h2>NEWS</h2>
    </div>
<table class="table">
         <thead>
         <tr class="table_head_row">
         <th class="table_head_num">번호</th>
         <th class="table_head_title">제목</th>
         <th class="table_head_day">등록일</th>
         <th class="table_head_day">조회수</th>
         </tr>
         </thead>
         <tbody>
              <tr class="table_con_row">
              <td class=""></td>
              <td></td>
              <td class=""></td>
              <td></td>
              </tr> 
         </tbody>
     </table>
     <div class="pagination_div"></div>
</div>