<div class="container">
    <div class="cata_title">
        <h2 style="font-size:30px; font-weight:600;">커터앤벅 대리점 및 수주점 개설 안내</h2>
    </div>
    <div class="with_title" style="margin-top:50px;">
        <h3>유통망 전개 계획</h3>
    </div>
    <div class="with_content">
        <ul>
            <li>CUTTER&BUCK 매장은 2011년 F/W시즌부터 유통망 전개</li>
            <li>매장은 지역별 수주 상담 후 유통망 전개를 하거나 대리점(위탁) 방법으로 지역별 유통전개</li>
            <li>중장기적인 유통망 전개는 수주점, 대리점을 통한 각 지역의 균형있는 매출 구성이 되도록 전개</li>
            <li>지역 안배를 통한 매장 개설 및 좋은 매장 취치 확보, 판매력 강한 점주 확보에 주력</li>
            <li>각 지역별 지속적인 매출의 증대를 통한 이익의 증대를 가져올 수 있도록 관리</li>
        </ul>
    </div>
    <div class="with_title">
        <h3>마케팅 전개 방향</h3>
    </div>
    <div class="with_content">
        <ul>
            <li>단기간 내 B.I 구축 : 런칭 초기 ~ 3년간 공격적 광고 판촉 진행</li>
           <li>CUTTER&BUCK 브랜드의 시장 초기 집입 시 대 고객 인지도 강화에 주력</li>
           <li>드라마 제작지원, 골프채널 LPGA, CLPGA, 자막광고 등 각 TV 방속 매체에 주력</li>
           <li>각 지역별 골프 회원 대회를 통하여 마케팅 활동 전개</li>
           <li>지역별 수주점주 및 대리점주들 과의 적극적 커뮤니케이션 활동</li>
           <li>효율성 위주의 공동 마케팅 강화/고객과의 직접 커뮤니케이션을 통한 브랜드 로열티 확보</li>
        </ul>
    </div>
    <div class="with_title">
        <h3>마케팅 전개 계획</h3>
    </div>
    <div class="with_content">
        <table class="table_with">
         <thead>
         <tr class="table_head_row_with">
         <th class="table_head_num_with">구분</th>
         <th class="table_head_title_with">세부계획</th>
         </tr>
         </thead>
         <tbody>
              <tr class="table_con_row_with">
              <td class="">전파광고</td>
              <td class="table_list">
                  <ul>
                      <li>공중파 TV는 드라마, 예능 프로그램 광고-Bar 광고 위주</li>
                      <li>골프 전문 Cable TV, DMB 광고</li>
                      <li>스타 마케팅 전략 (TV, 영화, PPL)</li>
                  </ul>
              </td>
              </tr>
              <tr class="table_con_row_with">
              <td class="">신문,잡지광고</td>
              <td class="table_list">
                  <ul>
                      <li>패션지 광고 및 인터뷰를 통한 인지도 확대</li>
                      <li>골프, 레저, 여행, 생활 문화지 등 모니터링 및 선별 광고</li>
                  </ul>
              </td>
              </tr>
               <tr class="table_con_row_with">
              <td class="">옥외광고</td>
              <td class="table_list">
                  <ul>
                      <li>골프장 입구 및 골프장 코스 안내판 광고</li>
                      <li>레저, 문화와 연계된 친환경 마케팅</li>
                  </ul>
              </td>
              </tr>
               <tr class="table_con_row_with">
              <td class="">기타</td>
              <td class="table_list">
                  <ul>
                      <li>전속 프로골퍼 개발을 통한 브랜드 이미지 UP</li>
                      <li>연예인 의상 협찬을 통한 브랜드 인지도 증대</li>
                      <li>지역별, 대리점별 자선 골프대회 협찬 및 개최</li>
                  </ul>
              </td>
              </tr>
              <tr class="table_con_row_with">
              <td class="">인쇄물, 이벤트</td>
              <td class="table_list">
                  <ul>
                      <li>차별화 된 신규 Catalogue 및 회사 Brochure 제작</li>
                      <li>On-Line 마케팅 이벤트(쌍방향 케이블 광고, 홈페이지)</li>
                       <li>판촉물 및 사은품 개발 및 발주 제작 (연 3~4회 사은 행사 진행)</li>
                  </ul>
              </td>
              </tr>
         </tbody>
     </table>
    </div>
     <div class="with_title">
        <h3>대리점 개설 절차</h3>
    </div>
    <div class="with_content">
        <img src="/assets/daeri.JPG">
    </div>
    <div class="with_title" style="margin-top:50px;">
        <h3>수주점 개설 절차</h3>
    </div>
    <div class="with_content">
        <img src="/assets/suju.JPG">
    </div>
     <div class="with_title">
        <h3>대리점 및 수주점 개설 조건</h3>
    </div>
     <div class="with_content">
        <table class="table_with">
         <thead>
         <tr class="table_head_row_with">
         <th class="table_head_num_with">구분</th>
         <th class="table_head_title_with">개설 조건</th>
         </tr>
         </thead>
         <tbody>
              <tr class="table_con_row_with">
              <td class="">매장 위치</td>
              <td class="table_list">
                  <ul>
                      <li>지역 중심 상권 사거리, 삼거리, 3각 모퉁이 매장, 백화점, 쇼핑몰 등 </li>
                  </ul>
              </td>
              </tr>
              <tr class="table_con_row_with">
              <td class="">매장 면적</td>
              <td class="table_list">
                  <ul>
                      <li>실 평수 83 제곱 미터 (25평) 이상 </li>
                  </ul>
              </td>
              </tr>
              <tr class="table_con_row_with">
              <td class="">거래 형태</td>
              <td class="table_list">
                  <ul>
                      <li>수주점 : 완사입 (반품 포함) </li>
                      <li>대리점 : 위탁 판매 </li>
                  </ul>
              </td>
              </tr>
               <tr class="table_con_row_with">
              <td class="">매장 조건</td>
              <td class="table_list">
                  <ul>
                      <li>보증금은 상담 후 결정</li>
                  </ul>
              </td>
              </tr>
               <tr class="table_con_row_with">
              <td class="">결제 방법</td>
              <td class="table_list">
                  <ul>
                      <li>수주점 : 계약 시 30%, 출고 시 70% </li>
                      <li>대리점 : 월 2회 현금 결제 </li>
                  </ul>
              </td>
              </tr>
               <tr class="table_con_row_with">
              <td class="">매장 인테리어</td>
              <td class="table_list">
                  <ul>
                      <li>상담 후 결정 </li>
                  </ul>
              </td>
              </tr>
               <tr class="table_con_row_with">
              <td class="">상담 연락</td>
              <td class="table_list">
                  <ul>
                      <li>대표 전화 :  </li>
                      <li>CEO 원지현 : 135-1212-4157 (china)</li>
                        <li>Phone1 : 021-5422-1591</li>
                        <li>Phone2 : 070-8796-7421</li>
                        <li>Email : shlewa88@163.com</li>
                  </ul>
              </td>
              </tr>
         </tbody>
     </table>
    </div>
</div>